.custom {
  margin-top: 30px;
}
.desc {
  /* background: lavender !important; */
  width: 100px;
}
.add {
  margin-left: 72vw;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {

.tableColorClass thead,
  .tableColorClass tbody {
    /* Adjust styles for small screens */
   /* display: block; */
    width: 100vw;
    /* text-align: left;  */

}

tbody{

}


}