.navcss{
    background-color: #e3f2fd !important;
}
.bg-body-tertiary{
        background-color: #e3f2fd !important;

}

@media only screen and (max-width: 767px) {

.navBarClass{
width: 100% !important;
}
  
}